	<div class="swiper-container">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="image/banner1.jpg" alt="" class="auto"/></div>
	        <div class="swiper-slide"><img src="image/banner2.jpg" alt="" class="auto"/></div>
	        <div class="swiper-slide"><img src="image/banner3.jpg" alt="" class="auto"/></div>
	        <div class="swiper-slide"><img src="image/banner4.jpg" alt="" class="auto"/></div>
	    </div>
	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	</div>	
	
	<div class="title">
		<a href="##"><img src="image/aei.png" class="auto"/></a>
		<p>推荐歌单</p>
	</div>
	
	<div class="songlist">
		

	</div>
	
	
	<div id="templateItem" style="display: none;">
		<div class="item" onclick="router('detail')">
			<a href="##">
				<div class="gz">200</div>
				<img src="image/3419481178086661.jpg" class="auto"/>
				<p>老板给我来一打这样的男朋友</p>
			</a>
		</div>		
	</div>